<!-- /templates/hrms/account/login.html -->

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novi</title>

    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/auth/login.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/css/account/common.css">
    <link rel="stylesheet" href="/css/account/login.css">
</head>
<body>
<div class="auth-container">
    <div class="logo-container">
        <a th:href="@{/}">
            <img src="/images/logo_no_background.png" alt="로고">
        </a>
    </div>

    <!-- 회원 유형 탭 -->
    <div class="tab-container">
        <div class="tab active" id="personal-tab">개인회원</div>
        <div class="tab" id="company-tab">기업회원</div>
        <div class="tab" id="developer-tab">관리자</div>
    </div>

    <form method="post" th:action="@{/login}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <input type="hidden" id="userType" name="userType" value="APPLICANT"/>

        <div class="form-group">
            <label for="personal-email">이메일</label>
            <input type="text" id="personal-email" name="email" class="input-field" required>
        </div>
        <div class="form-group">
            <label for="personal-password">비밀번호</label>
            <input type="password" id="personal-password" name="password" class="input-field" required>
        </div>
        <div th:if="${errorMessage}" class="error-message error">
            <p th:text="${errorMessage}"></p>
        </div>
        <div class="checkbox-group">
            <input type="checkbox" id="personal-remember" name="remember">
            <label for="personal-remember">이메일 저장</label>
        </div>

        <button type="submit" class="login-button">로그인</button>
    </form>

    <div class="divider"><span>또는</span></div>

    <div class="social-logins">
        <div class="social-login-title">간편 로그인</div>
        <div class="social-buttons">
            <a th:href="@{/oauth2/authorization/naver}">
                <img src="/images/icon/icon_naver.png" alt="네이버 로그인">
            </a>
            <a th:href="@{/oauth2/authorization/google}">
                <img src="/images/icon/icon_google.png" alt="구글 로그인">
            </a>
        </div>
    </div>

    <div class="auth-links">
        <a th:href="@{/users/register}">회원가입</a>
        <span class="separator">|</span>
        <a href="#">이메일 찾기</a>
        <span class="separator">|</span>
        <a href="#">비밀번호 찾기</a>
    </div>
</div>
</body>
</html>
