<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>채용공고 페이지</title>
<!--  CSS 적용시 해당 스타일 삭제해 주세요-->
  <style>
    body { font-family: sans-serif; }
    .container { display: flex; }
    .sidebar { width: 200px; background: #f0f0f0; padding: 10px; }
    .main { flex: 1; padding: 20px; }
    .section { margin-bottom: 20px; }
    table { width: 100%; border-collapse: collapse; margin-top: 10px; }
    th, td { border: 1px solid #ccc; padding: 5px; }
  </style>
  <!--  CSS 적용시 해당 스타일 삭제해 주세요-->

</head>
<body>

<div class="container"> <!----------------- 사이드 메뉴 -->

  <div class="sidebar">
    <h3><a href="/employer/main">기업 페이지</a></h3>
    <ul>
      <li><a href="/employer/profile">기업관리</a></li>
      <li><a href="/employer/jobpost_list">채용공고</a></li>
      <li><a href="/employer/applications">이력서 확인</a></li>
      <li><a href="#">AI 추천 공고</a></li>
    </ul>
  </div>

  <!--  신규공고 등록 버튼 -->
  <div style="margin: 10px 0;">
    <a href="/employer/jobpost" style="text-decoration: none;">
      <button type="button">신규공고 작성하기</button>
    </a>
  </div>

  <table border="1" cellspacing="0" cellpadding="5">
    <thead>
    <tr>
      <th>채용 공고명</th>
      <th>수정</th>
      <th>삭제</th>
      <th>지원자 보기</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="post : ${jobPostList}">
      <td> <!--상세페이지로 이동-->
        <a th:href="@{./view(jobPostId=${post.id})}" th:text="${post.title}">이력서 제목</a>
      </td>
      <td> <!--수정페이지로 이동-->
        <a th:href="@{./joppost_edit(jobPostId=${post.id})}">
          <button type="button">수정</button>
        </a>
      </td>
      <td> <!-- 삭제 -->
        <form action="./delete" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
          <input type="hidden" name="resumeId" th:value="${post.id}" />
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <button type="submit">삭제</button>
        </form>
      </td>
      <td><button type="button">지원자보기</button></td>
    </tr>
    </tbody>

</body>
</html>
