<!-- /templates/hrms/employer/mypagge/post-list.html -->

<div layout:decorate="~{layout/employer/employer-template}" xmlns:layout="http://www.w3.org/1999/xhtml">

    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="/css/employer/post-list.css">
        <link rel="stylesheet" href="/css/employer/post-form.css">
        <link rel="stylesheet" href="/css/employer/post-view.css">
        <link rel="stylesheet" href="/css/employer/fragment/pagination.css">
    </th:block>

    <section layout:fragment="content">
        <div class="card-grid">
            <div class="card">
                <h3>총 공고 수</h3>
                <div class="value" th:text="${totalCount}">--</div>
            </div>
            <div class="card">
                <h3>마감 공고 수</h3>
                <div class="value" th:text="${expiredCount}">--</div>
            </div>
            <div class="card">
                <h3>진행중인 공고 수</h3>
                <div class="value" th:text="${activeCount}">--</div>
            </div>
        </div>


        <div class="post-list-container">
            <div class="post-list-header">
                <h3 class="table-title">📄 채용공고 목록</h3>

                <div class="post-list-actions">
                    <input type="text" id="searchInput" th:value="${keyword}" placeholder="공고명 검색" class="search-input">
                    <button type="button" id="searchBtn" class="action-button">검색</button>

                    <button type="button" class="action-button register-button" id="openWriteFormBtn">공고 등록</button>
                    <button type="button" class="action-button delete-button" id="deleteJobPost">공고 삭제</button>
                </div>
            </div>


            <table class="post-list-table">
                <colgroup>
                    <col style="width: 5%">
                    <col style="width: 5%">
                    <col style="width: 30%">
                    <col style="width: 10%">
                    <col style="width: 15%">
                    <col style="width: 10%">
                    <col style="width: 10%">
                    <col style="width: 8%">
                    <col style="width: 7%">
                </colgroup>
                <thead>
                <tr>
                    <th class="checkbox-cell" id="selectAllCell"><input type="checkbox" id="selectAll" ></th>
                    <th>ID</th>
                    <th>공고명</th>
                    <th>고용형태</th>
                    <th>지역</th>
                    <th>마감일</th>
                    <th>등록일</th>
                    <th>상태</th>
                    <th>지원자 수</th>
                    <th>스크랩 수</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${jobPostList}">
                    <td class="checkbox-cell">
                        <input type="checkbox" class="select-post" th:value="${post.id}">
                    </td>
                    <td th:text="${post.id}">공고ID</td>
                    <td>
                        <a href="#" class="edit-post-link" th:data-id="${post.id}" th:text="${post.title}">채용공고 제목</a>
                    </td>
                    <td th:text="${post.employmentType}">고용형태</td>

                    <td th:text="${post.location}">지역</td>
                    <td th:text="${post.deadline}">마감일</td>
                    <td th:text="${#temporals.format(post.createAt, 'yyyy-MM-dd')}">등록일</td>

                    <td>
                        <span th:text="${post.deadline != null and post.deadline.isBefore(T(java.time.LocalDate).now()) ? '마감' : '진행중'}"
                              th:classappend="${post.deadline != null and post.deadline.isBefore(T(java.time.LocalDate).now()) ? 'status-label status-closed' : 'status-label status-open'}">
                        </span>
                    </td>
                    <td th:text="${post.applicantCntByJobpost}">지원자 수</td>
                    <td th:text="${post.bookmarkCount}">스크랩 수</td>
                </tr>
            </table>

            <div id="paginationContainer" class="pagination-container"></div>


        </div>

        <div class="pagination-container">
            <a th:if="${currentPage > 1}"
               class="pagination-btn"
               th:href="@{/employer/jobpost_list(page=${currentPage - 1})}">&lt;</a>

            <a th:each="i : ${#numbers.sequence(1, totalPages)}"
               th:classappend="${i == currentPage} ? 'active'"
               class="pagination-btn"
               th:href="@{/employer/jobpost_list(page=${i})}"
               th:text="${i}">1</a>

            <a th:if="${currentPage < totalPages}"
               class="pagination-btn"
               th:href="@{/employer/jobpost_list(page=${currentPage + 1})}">&gt;</a>
        </div>


    </section>
</div>

<script src="/js/employer/post-list.js"></script>
