<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wit.hrmatching.mapper.JobPostMapper">

    <insert id="registerJobPost" parameterType="JobPostVO">
        insert into job_posts
        (user_id, title, description, required_skills, salary, location, employment_type, deadline, job_category)
        values
        (#{userId}, #{title}, #{description}, #{requiredSkills}, #{salary}, #{location}, #{employmentType}, #{deadline}, #{jobCategory})
    </insert>

    <select id="selectRecentJobPostList" resultType="JobPostVO">
        SELECT *
          FROM (
                SELECT *, ROW_NUMBER() OVER (ORDER BY create_at DESC) AS row_num
                  FROM job_posts
                 WHERE user_id = #{userId}
                ) AS numbered
        WHERE row_num &lt; 6
    </select>

    <select id="selectJobPostAllList" resultType="JobPostVO">
        SELECT *
        FROM job_posts
        WHERE user_id = #{userId}
          AND deleted_at IS NULL
    </select>

    <select id="selectApplicantList" resultType="JobPostVO">
        select user_id as userId, title, description, required_skills as requiredSkills, salary,
               location, deadline, create_at as createAt, view_count as viewCount,
               bookmark_count as bookmarkCount, employment_type as employmentType,
               job_category as jobCategory
        from job_posts
        where id=#{recruitId} and deleted_at is null
    </select>

    <select id="selectJobPostDetail" resultType="JobPostVO">
        SELECT *
        FROM job_posts
        WHERE id = #{recruitId} AND deleted_at IS NULL
    </select>

    <update id="updateJobPostDetail" parameterType="JobPostVO">
        UPDATE job_posts
        SET title = #{title}, description = #{description}, required_skills = #{requiredSkills}, salary = #{salary}, location = #{location},
            employment_type = #{employmentType}, deadline = #{deadline}, job_category = #{jobCategory}, updated_at = NOW()
        WHERE id = #{id} AND deleted_at IS NULL
    </update>

    <update id="deleteJobPost">
        update job_posts
        set deleted_at=now()
        where id=#{jobPostId} and deleted_at is null
    </update>



</mapper>