<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wit.hrmatching.mapper.applicant.ApplicationMapper">

    <select id="selectApplicationList" resultType="ApplicationDetailVO">
        select
            a.id as id,
            jp.title as jobPostTitle,
            jp.deadline as jobPostDeadline,
            ep.company_name as employerCompanyName,
            a.applied_at as appliedAt,
            a.status as status,
            av.viewed_at as viewedAt
        from applications a
            inner join job_posts jp on a.job_post_id = jp.id
            inner join employer_profiles ep on jp.user_id = ep.user_id
            left join application_views av on a.id = av.application_id
        where a.user_id = #{userId}
        order by a.applied_at desc
    </select>

    <select id="selectApplication" resultType="ApplicationDetailVO">
        select
            a.id as id,
            a.applied_at as appliedAt,
            a.status as status,
            a.updated_at as updatedAt,
            jp.id as jobPostId,
            jp.title as jobPostTitle,
            jp.location as jobPostLocation,
            jp.job_category as jobPostJobCategory,
            jp.deadline as jobPostDeadline,
            jp.deleted_at as jobPostDeletedAt,
            ep.company_name as employerCompanyName,
            r.id as resumeId,
            r.title as resumeTitle,
            MIN(av.viewed_at) as viewedAt
        from applications a
            left join job_posts jp on a.job_post_id = jp.id
            left join employer_profiles ep on jp.user_id = ep.user_id
            inner join resumes r on a.resume_id = r.id
            left join application_views av on a.id = av.application_id
        where a.id = #{applicationId}
        group by a.id, jp.id, ep.company_name, r.id
    </select>

</mapper>