<div layout:decorate="~{layout/main/main-template}" xmlns:layout="http://www.w3.org/1999/xhtml">

    <th:block layout:fragment="styles">
        <link rel="stylesheet" th:href="@{/css/main/main.css}">
        <link rel="stylesheet" href="/css/user/ai-feedback.css">
    </th:block>

    <section layout:fragment="content">

        <section class="interview-wrapper">
            <div class="interview-header">
                <h4 class="interview-title">AI 모의면접 피드백</h4>
                <p class="interview-description">
                    아래는 당신이 작성한 면접 답변에 대해 AI가 제공한 피드백입니다.<br />
                    표현 방식과 구체성을 개선해 더 좋은 답변을 만들어 보세요.
                </p>
            </div>

            <div class="interview-question-list" id="feedbackContainer">
                <!-- JS로 동적 생성 -->
            </div>



            <div class="btn-area">
                <button id="backToListBtn" onclick="location.href='/interview'" style="display: none;">처음으로</button>
            </div>
        </section>


    </section>
</div>

<script src="/js/interview/interview-feedback.js"></script>