<!-- /templates/hrms/community/board-modify.html -->


<div class="write-container">
    <div class="write-header">
        <span class="write-title">✍️ 게시물 수정</span>
        <br>
        <span class="write-description" id="board-description" th:text="${description}"></span>
        <br>
        <span class="write-description">게시판에 자유롭게 의견을 남겨주세요.</span>
    </div>

    <div class="write-content">
        <form action="#" method="post" enctype="multipart/form-data">
            <input type="hidden" id="postId" value="1" />


            <div class="form-group">
                <label for="board" class="form-label-inline">게시판 선택</label>
                <select id="board" name="boardId" required class="form-select-inline">
                    <option th:each="board : ${communityBoards}"
                            th:value="${board.id}"
                            th:text="${board.name}"
                            th:selected="${board.code == boardCode}">
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" id="title" name="title" placeholder="제목을 입력하세요" required>
            </div>

            <div class="form-group">
                <label for="content">내용</label>
                <textarea id="content" name="content" placeholder="내용을 입력하세요" rows="12" required></textarea>
            </div>

            <div class="form-group">
                <label for="file">첨부파일</label>
                <input type="file" id="file" name="files" multiple>
            </div>

            <div class="form-buttons">
                <button type="submit" class="submit-btn">등록</button>
                <button type="button" class="cancel-btn" id="cancelModify">취소</button>
            </div>
        </form>
    </div>
</div>
<script src="/js/community/board-modify.js"></script>
<script th:inline="javascript">
    const boardMap = {};
    /*<![CDATA[*/
    [[${boardList}]].forEach(board => {
        boardMap[board.id] = {
            name: board.name,
            description: board.description
        };
    });
    /*]]>*/
</script>