<!-- /templates/hrms/community/board-list.html -->

<div layout:decorate="~{layout/community/community-template}" xmlns:layout="http://www.w3.org/1999/xhtml">

    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="/css/community/board-list.css">
    </th:block>

    <section layout:fragment="content">
        <div class="board-header">
            <h2 id="boardTitle">📋 전체 게시판</h2>
            <button type="button" class="write-button" th:data-board-code="${boardCode}">글쓰기</button>
        </div>

        <table class="board-table">
            <colgroup>
                <col style="width: 5%">
                <col style="width: 20%">
                <col style="width: 35%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 10%">
                <col style="width: 10%">
            </colgroup>
            <thead>
            <tr>
                <th>번호</th>
                <th>분류</th>
                <th>제목</th>
                <th>작성자</th>
                <th>작성일</th>
                <th>조회수</th>
                <th>좋아요</th>
            </tr>
            </thead>
            <tbody id="postListBody">
            <!-- JavaScript로 동적으로 채움 -->
            </tbody>

        </table>

        <div id="paginationContainer" class="pagination"></div>

    </section>
</div>
<script src="/js/community/board-list.js"></script>
<script src="/js/community/pagination.js"></script>