<!-- fragments/user/user-ad.html -->
<section th:fragment="ad" class="ad-banner">
    <a href="https://multiit.co.kr/pages/niExcW240802?mediaCode=GS_sa_bk&utm_source=google&utm_medium=cpc&utm_campaign=multiit&utm_content=sa_bk&utm_term=%EB%A9%80%ED%8B%B0%EC%BA%A0%ED%8D%BC%EC%8A%A4&gad_source=1&gad_campaignid=21728150630&gbraid=0AAAAAoUAyr5dPbiTs5XMT_H4j3U0iwnwZ&gclid=CjwKCAjw9uPCBhATEiwABHN9K0cqa7dH-uhqkT_vgL3h7EnXXy7_gy535HpRYjbZxrG3JaMGuQuy3RoCv9AQAvD_BwE"
       target="_blank">
        <img src="/images/ad_multicampus.png" alt="광고 배너 이미지">
    </a>
</section>