<!-- 네비게이션 메뉴 -->
<nav th:fragment="menu" id="nav" class="menu-nav">
    <div class="menu-wrapper">
        <ul>
            <li class="dropdown">
                <a th:href="@{/jobs}">채용정보</a>
                <ul class="submenu">
                    <li><a href="#">메뉴1</a></li>
                    <li><a href="#">메뉴2</a></li>
                    <li><a href="#">메뉴3</a></li>
                    <li><a href="#">메뉴4</a></li>
                    <li><a href="#">메뉴5</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a th:href="@{/interview}">모의면접</a>
            </li>
            <li class="dropdown">
                <a th:href="@{/community/all}">커뮤니티</a>
                <ul class="submenu">
                    <li><a th:href="@{/community/all}">전체 게시판</a></li>
                    <li><a th:href="@{/community/free}">자유 게시판</a></li>
                    <li><a th:href="@{/community/qna}">Q&A 게시판</a></li>
                    <li><a th:href="@{/community/study}">스터디 게시판</a></li>
                    <li><a th:href="@{/community/feddback}">피드백 게시판</a></li>
                    <li><a th:href="@{/community/jobshare}">채용 정보 게시판</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>