<!-- /templates/hrms/support/inquiry.html -->

<div layout:decorate="~{layout/support/support-template}" xmlns:layout="http://www.w3.org/1999/xhtml">

    <th:block layout:fragment="styles">
        <link rel="stylesheet" href="/css/support/inquiry.css">
    </th:block>

    <section layout:fragment="content">

        <span class="title">노비 문의하기</span>
        <div class="inquiry-form-container">

            <form id="inquiryForm">
                <div class="form-group">
                    <label>문의 제목</label>
                    <input type="text" name="title" id="title" required>
                </div>

                <div class="form-group">
                    <label>문의 사유</label>
                    <select name="reasonId" id="reasonId" required>
                    </select>
                </div>

                <div class="form-group">
                    <label>문의 내용</label>
                    <textarea id="content" name="content" rows="6" required></textarea>
                </div>

                <button type="submit">문의 등록</button>
            </form>
        </div>
    </section>
</div>

<script src="/js/support/inquiry.js"></script>