<!-- /resources/templates/hrms/index.html -->

<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Document</title>
</head>
<body>

<div th:if="${message} != null">
  <p th:text="${message}"></p>
</div>

<div th:if="${userDetails != null}">
  <p>이름: <span th:text="${userDetails.name}"></span></p>
  <p>이메일: <span th:text="${userDetails.email}"></span></p>
  <p>ID: <span th:text="${userDetails.id}"></span></p>
  <p>나이: <span th:text="${userDetails.applicantProfile.age}"></span></p>
  <a href="/users/logout">로그아웃</a>

  <form method="get" action="/users/delete">
    <button type="submit">회원 탈퇴</button>
  </form>

</div>

<div th:if="${userDetails == null}">
  <a href="/users/login">로그인</a>
</div>

</body>
</html>
