<!-- templates/hrms/admin/resume-list.html -->

<div layout:decorate="~{layout/admin/admin-template}" xmlns:layout="http://www.w3.org/1999/xhtml">
  <th:block layout:fragment="styles">
    <link rel="stylesheet" href="/css/admin/resumes/resume-list.css">
    <link rel="stylesheet" href="/css/admin/resumes/details.css">
    <link rel="stylesheet" href="/css/admin/filter.css">
  </th:block>

  <div layout:fragment="content">
    <div class="card-grid">
      <div class="card"><h3>총 이력서</h3><div class="value" id="resumeCount"></div></div>
      <div class="card"><h3>작성완료</h3><div class="value" id="isCompleted"></div></div>
      <div class="card"><h3>미완료</h3><div class="value" id="isIncompleted"></div></div>
      <div class="card"><h3>공개</h3><div class="value" id="isPublic"></div></div>
      <div class="card"><h3>삭제</h3><div class="value" id="isDeleted"></div></div>
    </div>

    <div class="section">
      <div class="table-header">
        <h2>이력서 목록</h2>

        <div class="user-control-panel">
          <div class="search">
            <label><input type="text" id="searchKeyword" placeholder="이메일로 검색" /></label>
            <button id="searchButton">검색</button>
          </div>
          <button id="deleteButton">삭제</button>
        </div>

      </div>
      <table class="user-table">
        <colgroup>
          <col style="width: 3%">
          <col style="width: 4%">
          <col style="width: 8%">
          <col style="width: 20%">
          <col style="width: 20%">
          <col style="width: 10%">
          <col style="width: 10%">
          <col style="width: 8%">
          <col style="width: 9%">
          <col style="width: 8%">
        </colgroup>
        <thead>
        <tr>
          <th><label><input type="checkbox" id="checkAll"></label></th>
          <th>ID</th>
          <th>User ID</th>
          <th>이메일</th>
          <th>제목</th>
          <th>작성일</th>
          <th>마지막 업데이트</th>
          <th class="filter-toggle" data-filter="isCompleted" style="position: relative;" id="th-isCompleted">
            완료여부
            <span>▼</span>
            <div class="filter-selected value isCompleted" data-type="isCompleted" style="display: none;"></div>
            <div class="filter-popup" data-type="isCompleted" style="display: none;">
              <button class="default" data-value="">전체</button>
              <button class="completed" data-value="completed">완료</button>
              <button class="incomplete" data-value="incomplete">미완료</button>
            </div>
          </th>

          <th class="filter-toggle" data-filter="isPublic" style="position: relative;" id="th-isPublic">
            공개여부
            <span>▼</span>
            <div class="filter-selected value isPublic" data-type="isPublic" style="display: none;"></div>
            <div class="filter-popup" data-type="isPublic" style="display: none;">
              <button class="default" data-value="">전체</button>
              <button class="public" data-value="public">공개</button>
              <button class="private" data-value="private">비공개</button>
            </div>
          </th>
          <th class="filter-toggle" data-filter="isDeleted" style="position: relative;" id="th-isDeleted">
            삭제여부
            <span>▼</span>
            <div class="filter-selected value isDeleted" data-type="isDeleted" style="display: none;"></div>
            <div class="filter-popup" data-type="isDeleted" style="display: none;">
              <button class="default" data-value="">전체</button>
              <button class="active" data-value="active">정상</button>
              <button class="deleted" data-value="deleted">삭제됨</button>
            </div>
          </th>

        </tr>
        </thead>
        <tbody id="userTableBody">
        <!-- AJAX로 데이터 삽입 -->
        </tbody>
      </table>
      <div id="paginationContainer" class="pagination"></div>
    </div>
  </div>
</div>

<script src="/js/admin/resume/resume-list-ajax.js"></script>
<script src="/js/admin/resume/resume-list.js"></script>
<script src="/js/admin/resume/filter.js"></script>
<script src="/js/admin/table.js"></script>
