<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wit.hrmatching.mapper.ProfileMapper">

    <!-- 유저 ID로 기업 프로필 정보 조회 -->
    <select id="employerFindByUserId" resultType="org.wit.hrmatching.vo.user.EmployerProfilesVO">
        SELECT
        user_id,
        company_name,
        business_number,
        address,
        phone_number,
        homepage_url,
        industry,
        founded_year,
        company_size
        FROM
        employer_profiles
        WHERE
        user_id = #{userId}
    </select>

    <!-- 기업 프로필 삽입 -->
    <insert id="insertEmployerProfile" parameterType="org.wit.hrmatching.vo.user.EmployerProfilesVO">
        INSERT INTO employer_profiles (user_id, company_name, business_number, address, phone_number,
                                       homepage_url, industry, founded_year, company_size)
        VALUES (#{userId}, #{companyName}, #{businessNumber}, #{address}, #{phoneNumber},
                #{homepageUrl}, #{industry}, #{foundedYear}, #{companySize})
    </insert>

    <delete id="deleteEmployerProfileByUserId" parameterType="long">
        DELETE FROM employer_profiles WHERE user_id = #{userId}
    </delete>

    <select id="existsEmployerProfile" resultType="boolean">
        SELECT EXISTS (
            SELECT 1 FROM employer_profiles WHERE user_id = #{userId}
        )
    </select>
</mapper>
