<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wit.hrmatching.mapper.employer.EmployerProfileMapper">
<!--        <select id="selectEmployerProfiles" resultType="EmployerProfilesVO">-->
<!--        SELECT *-->
<!--        FROM employer_profiles-->
<!--        WHERE user_id = #{userId}-->
<!--        </select>-->
<!--    프로필 테이블에 ceoName  조인-->

        <select id="selectEmployerProfiles" resultType="EmployerProfilesVO">
            SELECT
                ep.*,
                u.name AS ceo_name
            FROM employer_profiles ep
                 JOIN users u ON ep.user_id = u.id
            WHERE ep.user_id = #{userId}
        </select>

        <update id="updateUserName">
            UPDATE users
            SET name = #{name}
            WHERE id = #{userId}
        </update>

    <update id="updateEmployerProfiles" parameterType="EmployerProfilesVO">
        UPDATE employer_profiles
        SET company_name = #{companyName},
            business_number = #{businessNumber},
            address = #{address},
            phone_number = #{phoneNumber},
            homepage_url = #{homepageUrl},
            industry = #{industry},
            founded_year = #{foundedYear},
            company_size = #{companySize},
            email = #{email}

        WHERE user_id = #{userId}
        </update>

    <select id="selectEmployerRecentApplicantList" resultType="EmployerRecentApplicantVO">
        SELECT
            C.title         AS title,
            D.name          AS applicantName,
            D.email         AS email,
            A.applied_at    AS appliedAt,
            A.status        AS status,
            C.id            AS jobPostId

        FROM
            applications A,
            applicant_profiles B,
            job_posts C,
            users D
        WHERE 1=1
          AND A.user_id = B.user_id
          AND A.job_post_id = C.id
          AND A.user_id = D.id
          AND C.user_id = #{userId}
        ORDER BY
            A.applied_at DESC
        LIMIT 10;
    </select>

    <update id="updateProfileImage" parameterType="map">
        UPDATE employer_profiles
        SET profile_image = #{storedName}
        WHERE user_id = #{userId}
    </update>


</mapper>