<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wit.hrmatching.mapper.employer.TechStackMapper">

    <select id="getAllTechStacks" resultType="TechStackVO">
        SELECT id,name FROM tech_stacks ORDER BY id;
    </select>

    <select id="selectNamesByIds" resultType="String">
        SELECT name
          FROM tech_stacks
         WHERE id IN
        <foreach collection="stackIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>


</mapper>