<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.wit.hrmatching.mapper.ResumeMapper">

    <insert id="insertResume" parameterType="resumeVO" useGeneratedKeys="true" keyProperty="id">
        insert into resumes
        (user_id, education, experience, skills, preferred_location, salary_expectation,
         is_public, title, core_competency, desired_position, motivation, is_completed)
        values (#{userId}, #{education}, #{experience}, #{skills}, #{preferredLocation}, #{salaryExpectation},
                #{isPublic}, #{title}, #{coreCompetency}, #{desiredPosition}, #{motivation}, #{isCompleted})
    </insert>
    
    <select id="selectResumeList" resultType="resumeVO">
        select id, title
        from resumes
        where user_id=#{userId} and deleted_at is null and is_completed=true
    </select>

    <select id="selectDraftResumeList" resultType="resumeVO">
        select id, title
        from resumes
        where user_id=#{userId} and deleted_at is null and is_completed=false
    </select>

    <select id="selectResume" resultType="resumeVO">
        select id, user_id as userId, education, experience, skills, preferred_location as preferredLocation,
               salary_expectation as salaryExpectation, create_at as createAt, is_public as isPublic, title,
               core_competency as coreCompetency, desired_position as desiredPosition, motivation,
               updated_at as updatedAt
        from resumes
        where id=#{resumeId} and deleted_at is null
    </select>

    <select id="selectResumeForUpdate" resultType="resumeVO">
        select id, user_id as userId, education, experience, skills, preferred_location as preferredLocation,
               salary_expectation as salaryExpectation, is_public as isPublic, title,
               core_competency as coreCompetency, desired_position as desiredPosition, motivation
        from resumes
        where id=#{resumeId} and deleted_at is null
    </select>

    <update id="updateResume" parameterType="resumeVO">
        update resumes
        set education=#{education}, experience=#{experience}, skills=#{skills}, is_completed=#{isCompleted},
            preferred_location=#{preferredLocation}, salary_expectation=#{salaryExpectation}, is_public=#{isPublic},
            title=#{title}, core_competency=#{coreCompetency}, desired_position=#{desiredPosition}, motivation=#{motivation}
        where id=#{id}
    </update>

    <update id="deleteResume">
        update resumes
        set deleted_at=now()
        where id=#{resumeId} and deleted_at is null
    </update>

</mapper>