<!-- templates/hrms/layout/admin/admin-template.html -->

<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Novi</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/admin/admin-template.css">
    <link rel="stylesheet" href="/css/admin/admin-sidebar.css">
    <link rel="stylesheet" href="/css/admin/admin-header.css">
    <link rel="stylesheet" href="/css/admin/admin-right-panel.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <th:block layout:fragment="styles"></th:block>

    <!-- JS -->
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/js/admin/csrf-setup.js"></script>
    <script src="/js/admin/admin-template.js"></script>
</head>
<body>
<div class="admin-layout">
    <!-- Sidebar -->
    <aside th:replace="~{fragments/admin/admin-sidebar :: sidebar}"></aside>


    <!-- Right Container -->
    <div class="admin-container">
        <!-- Header -->
        <header th:replace="~{fragments/admin/admin-header :: header}"></header>

        <!-- Content -->
        <div class="content">
            <section class="main-area" layout:fragment="content"></section>
            <aside class="right-panel">
                <div th:replace="~{fragments/admin/admin-right-panel :: panel}"></div>
            </aside>
            <div id="floatingSidebar" class="floating-sidebar">
                <div class="floating-sidebar-inner">
                    <button id="closeFloatingSidebar" title="닫기">×</button>
                    <div class="content" id="floatingSidebarContent">
                        <!-- AJAX로 삽입됨 -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
